{% extends "base.html" %}

{% load widget_tweaks %}

{% block body %}

  <div class="w-full max-w-md bg-base-300 p-8 rounded-lg shadow-lg mx-auto mt-10">

    <span class="text-lg font-semibold">Thank you for signing up!</span>
    <p class="mt-2">Please review and accept the Terms of Service to continue.</p>
    <div class="form-control mt-6">
      <form method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {% render_field form.email class="hidden" %}
        <div>
          {% render_field form.accepted_tos class="checkbox checkbox-primary" %}
          <span class="ml-2">
            <span class="text-lg font-semibold">I agree to the</span>
            <label for="terms-modal" class="text-lg font-bold text-info cursor-pointer underline">Terms of Service</label>
          </span>
        </div>
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
            <p class="text-red-500">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-6 w-full">Continue</button>
      </form>

    </div>
  </div>



  {% include "terms_of_service.html" %}

{% endblock body %}
