{% extends 'base.html' %}

{% load socialaccount %}
{% load widget_tweaks %}

{% block body %}

  <div class="p-10">
    <div class="flex items-center justify-center h-full mt-10">
      <div class="w-full max-w-md bg-base-300 p-8 rounded-lg shadow-lg">
        <h1 class="text-lg font-bold mb-4">Sign Up</h1>
        <div class="my-4">
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
            <ul class="grid grid-cols-1 gap-2 my-6">
              {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
            </ul>

            <div class="divider">
              OR
            </div>
          {% endif %}

          <form method="post" action="{% url 'account_signup' %}" id="signup-form">
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            {% render_field form.email class="form-control mt-4 input input-bordered" %}
            {% render_field form.password1 class="form-control mt-4 input input-bordered" %}
            {% render_field form.password2 class="form-control mt-4 input input-bordered" %}
            <div>
              {% render_field form.accepted_tos class="checkbox checkbox-primary" %}
              <span class="ml-2">
                <span class="text-lg font-semibold">I agree to the</span>
                <label for="terms-modal" class="text-lg font-bold text-info cursor-pointer underline">Terms of Service</label>
              </span>
            </div>
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <p class="text-red-500">{{ error }}</p>
              {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-6 w-full">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center h-full mt-4">
      <div class="w-full max-w-md bg-base-300 p-6 rounded-lg shadow-lg text-center">
        <h2 class="text-md font-semibold mb-2">Already have an account?</h2>
        <a href="{% url 'account_login' %}" class="btn btn-secondary mt-2">Login</a>
      </div>
    </div>
  </div>

  {% include "terms_of_service.html" %}

  <style>
    .form-control {
      margin-bottom: 1rem;
    }
  </style>

{% endblock body %}
