{% load static %}

<div class="navbar bg-base-200">
  <div class="navbar-start">
    <img src="{% static 'core/img/logo.svg' %}" alt="X-ray Genius" style="width: 12rem; height: auto; margin-left: 1rem; margin-right: 1rem;" />
    <ul class="menu menu-horizontal bg-base-100 p-[4px] rounded-xl">
      {% url 'dashboard' as dashboard_url %}
      {% url 'guide' as guide_url %}
      {% url 'faq' as faq_url %}

      {% if request.user.is_authenticated %}
        <li>
          <a
            href="{{ dashboard_url }}"
            {% if request.path == dashboard_url %}
              class="active"
            {% endif %}
          >
            <i class="ri-dashboard-fill"></i>
            Dashboard
          </a>
        </li>
      {% endif %}

      <li>
        <a
          href="{{ guide_url }}"
          {% if request.path == guide_url %}
            class="active"
          {% endif %}
        >
          <i class="ri-book-2-fill"></i>
          Guide
        </a>
      </li>

      <li>
        <a
          href="{{ faq_url }}"
          {% if request.path == faq_url %}
            class="active"
          {% endif %}
        >
          <i class="ri-question-fill"></i>
          FAQ
        </a>
      </li>

      {% if request.user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}">
            <i class="ri-admin-fill"></i>
            Admin
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
  {% if request.user.is_authenticated %}
    <div class="navbar-end">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <div class="menu menu-horizontal">
          <li>
            <button class="btn btn-accent btn-sm mx-1 rounded-lg">
              <i class="ri-logout-box-line"></i>
              Logout
            </button>
          </li>
        </div>
      </form>
    </div>
  {% endif %}

  {# Help button, fixed in the bottom right corner #}
  <a href="{% url 'contact' %}" class="btn btn-info btn-lg fixed bottom-4 right-4 rounded-lg" style="z-index: 100;">
    <span><i class="ri-question-line"></i> Help</span>
  </a>
</div>
