{% load static %}

<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="{% static 'core/img/favicon.svg' %}">

    <title>X-Ray Genius</title>

    <link rel="stylesheet" href="{% static 'core/dist/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.min.css"
      rel="stylesheet"
    />

    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <div class="navbar bg-base-200">
      <div class="navbar-start">
        <img src="{% static 'core/img/logo.svg' %}" alt="X-Ray Genius" style="width: 12rem; height: auto; margin-left: 1rem; margin-right: 1rem;" />
        <ul class="menu menu-horizontal bg-base-100 p-[4px] rounded-xl">
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'dashboard' %}" class="active">
                <i class="ri-dashboard-fill"></i>
                Dashboard
              </a>
            </li>
          {% endif %}
          {% if request.user.is_staff %}
            <li>
              <a href="{% url 'admin:index' %}">
                <i class="ri-admin-fill"></i>
                Admin
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% if request.user.is_authenticated %}
        <div class="navbar-end">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div class="menu menu-horizontal">
              <li>
                <button class="btn btn-accent btn-sm mx-1 rounded-lg">
                  <i class="ri-logout-box-line"></i>
                  Logout
                </button>
              </li>
            </div>
          </form>
        </div>
      {% endif %}
    </div>

    {% comment %} Help modal {% endcomment %}
    <input type="checkbox" id="help-modal" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box bg-base-100 p-6 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-4">Contact Us</h2>
        <p class="mb-4">If you need assistance, please contact us at:</p>
        <ul class="list-disc pl-5">
          <li>Email: kitware@kitware.com</li>
        </ul>
        <div class="modal-action">
          <label for="help-modal" class="btn btn-sm btn-error">Close</label>
        </div>
      </div>
    </div>
    <label for="help-modal" class="btn btn-info btn-lg fixed bottom-4 right-4 rounded-lg">
      <i class="ri-question-line"></i> Help
    </label>

    {% block body %} {% endblock body %}
  </body>
</html>
