{% load static %}

<!doctype html>
<html data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>X-Ray Genius</title>

    <link rel="stylesheet" href="{% static 'core/dist/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.min.css" rel="stylesheet">

    {% block head_extra %}{% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
