{% load static %}

{% load render_markdown_file %}

<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="{% static 'core/img/favicon.svg' %}">

    <title>X-ray Genius</title>

    <link rel="stylesheet" href="{% static 'core/dist/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.min.css"
      rel="stylesheet"
    />

  </head>
  <body>
    <div class="container mx-auto py-8">
      <div class="prose">
        {% autoescape off %}
          {{ "faq.md"|render_markdown_file }}
        {% endautoescape %}
      </div>
    </div>
  </body>
</html>

