{% extends "base.html" %}

{% load render_markdown_file %}

{% block body %}
  <div class="m-4">
    <a href="{% url 'account_signup' %}">
      <button class="btn btn-md btn-primary">
        <i class="ri-arrow-go-back-fill"></i> Back to Sign Up
      </button>
    </a>
  </div>
  <div class="container mx-auto py-8">
    <div style="all: initial;">
      <div class="prose">
        {% autoescape off %}
          {{ "terms_of_service.md"|render_markdown_file }}
        {% endautoescape %}
      </div>
    </div>
  </div>
{% endblock body %}
