{% extends 'base.html' %}

{% block head_extra %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock head_extra %}

{% block body %}
<h4>Placeholder for VolView viewer</h4>
<form id="form1">
    <label for="carm_alpha">carm_alpha:</label>
    <input type="number" name="carm_alpha" id="carm_alpha" required>
    <br>
    <label for="carm_beta">carm_beta:</label>
    <input type="number" name="carm_beta" id="carm_beta" required>
    <br>
    <label for="source_to_detector_distance">source_to_detector_distance:</label>
    <input type="number" name="source_to_detector_distance" id="source_to_detector_distance" required>
    <br>
    <button type="button" onclick="submitForm()">Submit</button>
</form>

<script>
    function submitForm() {
        // Get form values
        var carmAlpha = $('#carm_alpha').val();
        var carmBeta = $('#carm_beta').val();
        var sourceToDetectorDistance = $('#source_to_detector_distance').val();

        // Create data object
        var data = {
            carm_alpha: carmAlpha,
            carm_beta: carmBeta,
            source_to_detector_distance: sourceToDetectorDistance
        };

        $.ajax({
            url: '/api/v1/session/{{ session.pk }}/',
            type: 'PATCH',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                console.log('Request successful:', response);
                window.location.href = '/';
            },
            error: function(error) {
                console.error('Error in request:', error);
                alert('Error in request, see console for details')
            }
        });
    }
</script>
{% endblock %}
